.footercon{
    display: flex;
    flex-direction: column;
   
    background-color: rgb(48, 48, 48);
    margin-top: 0px;
    padding-bottom:40px ;
    @media (max-width:450px) {
        padding: 2px;
        font-size: 0.8em;
        
    }
    
}
.about p , .properties-d p{
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
}
p{
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}
.uppersection{
    display: grid;
    grid-auto-flow: column;
    padding-top: 30px;
    padding-left: 60px;
    padding-right:60px ;
    @media (max-width:450px) {
        padding: 0;
        
        grid-auto-flow: row;
    }
}
.about , .properties-d{
    padding: 20px;
    @media (max-width:450px) {
    padding: 2px;
    }
}
.ribbon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: #000000;
  
   
    padding-left: 60px;
    padding-right:60px ;
    @media (max-width:450px) {
        padding: 0;
    }

}
.ribbon p{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: large;
    cursor: pointer;
    @media (max-width:450px) {
        font-size: 0.8rem;
        
    }
      

}

.ribbon p:hover{
    color:rgb(236, 182, 48)
}
.discl{
    padding-left: 80px;
    padding-right:80px ;
    padding-top: 30px;
    @media (max-width:450px) {
        padding: 0;
        padding-top: 20px;
    }
}
.discl p{
    font-size: small;
    @media (max-width:450px) {
        font-size: 0.95em;
    }
}